:root {
  --c-text: #232323;
  --c-gray: gray;
  --c-red: red;
  --c-orange: orange;
  --c-yellow: yellow;
  --c-green: green;
  --c-blue: blue;
  --c-purple: purple;

  --f-body: monospace;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
{
	font-family: var(--f-body);
	padding: 1em;
  margin: 0;
}

.storyTitle
{
	text-align: center;
	margin-bottom: 2em;
}

.tagFilter-list {
  margin: 1em 0;
  padding: 0;
}

.tagFilter-tag {
  display: inline-block;
  margin-right: 0.5em;
}

.tagFilter-button {
  font-family: var(--f-body);
  color: var(--c-text);
  display: inline-block;
  padding: 0.125em 0.5em 0.25em;
  border-radius: 0.25em;
  border: 2px solid currentColor;
  background: transparent;
  cursor: pointer;
}
.tagFilter-tag_gray .tagFilter-button {
  border-color: var(--c-gray);
}
.tagFilter-tag_red .tagFilter-button {
  border-color: var(--c-red);
}
.tagFilter-tag_orange .tagFilter-button {
  border-color: var(--c-orange);
}
.tagFilter-tag_yellow .tagFilter-button {
  border-color: var(--c-yellow);
}
.tagFilter-tag_green .tagFilter-button {
  border-color: var(--c-green);
}
.tagFilter-tag_blue .tagFilter-button {
  border-color: var(--c-blue);
}
.tagFilter-tag_purple .tagFilter-button {
  border-color: var(--c-purple);
}

tw-storydata
{
	display: block;
  color:transparent;
}

.tag
{
	color: var(--c-text);
  display: inline-block;
  padding: 0.125em 0.5em 0.25em;
  border-radius: 0.25em;
  border: 2px solid currentColor;
  margin-right: 0.5em;
}
tw-tag::after
{
	content: attr(name);
}
.tag-gray {
  border-color: var(--c-gray);
}
.tag-red {
  border-color: var(--c-red);
}
.tag-orange {
  border-color: var(--c-orange);
}
.tag-yellow {
  border-color: var(--c-yellow);
}
.tag-green {
  border-color: var(--c-green);
}
.tag-blue {
  border-color: var(--c-blue);
}
.tag-purple {
  border-color: var(--c-purple);
}

.passageAside-tags {
  margin: 1em 0;
  padding: 0;
}
tw-passagedata
{
  color: var(--c-text);
	display: block;
	margin-bottom: 2em;
}
tw-passagedata[hidden]
{
  display: none;
}

tw-passagedata + tw-passagedata::before
{
  width: 50%;
	border-top: 1pt dashed black;
	padding-top: 2em;
  height: 2em;
}

tw-passagedata:before
{
	content: attr(name);
	display: block;
	font-weight: bold;
}


tw-tag {

}